<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/signup_styles.css" />

    <title>Sign-Up</title>
  </head>

  <body>
    <div class="signup">
      <img
        src="img/reset_password_bg.jpg"
        alt="signup image"
        class="signup__img"
      />

      <div class="menu">
        <div class="menu__button">
          <i class="fa-solid fa-bars"></i>
        </div>
        <div class="menu__content">
          <a href="/logout" class="menu__item">Logout</a>
          <a href="/update" class="menu__item">Update Password</a>
          <a href="/create_customer" class="menu__item">Create Customer</a>
        </div>
      </div>

      <form
        action="/forgot"
        method="POST"
        class="signup__form"
        autocomplete="off"
      >
        <h1 class="signup__title">Reset Password</h1>

        <div class="signup__content">
          <div class="signup__box">
            <i class="fa-solid fa-user signup__icon"></i>
            <div class="signup__box-input">
              <input
                type="text"
                name="uname"
                required
                class="signup__input"
                id="signup-uname"
                placeholder=" "
              />
              <label for="signup-uname" class="signup__label">Username</label>
            </div>
          </div>
        </div>
        <button type="submit" class="signup__button">Submit</button>

        <% if (typeof errorMessage !== 'undefined' ) { %>
        <div class="error-message">
          <p><%- errorMessage %></p>
        </div>
        <% } else if (typeof successMessage !== 'undefined' ) { %>
        <div class="success-message">
          <p><%- successMessage %></p>
        </div>
        <% } %>
      </form>
    </div>

    <!--=============== MAIN JS ===============-->
    <script src="js/signup.js"></script>
  </body>
</html>
